@import url('https://fonts.googleapis.com/css2?family=Heebo&display=swap');
*{
    font-family: 'Heebo', sans-serif;
}
body{
    background-color: black;
    display: flex;
}
.Post>header{
    display:flex;
}
.Post{
    background-color: white;
    display: flex;
    justify-self: center;
    justify-content: center;
    flex-direction: column;
    margin: auto;
    width:35rem;
}
.Post > header{
    display: flex;
    margin-top: 0.7rem;
    font-size: 2rem;
    margin-bottom: 0.7rem;
    align-content: center;
}
.Post > header > i:last-of-type>::before{
    justify-self: flex-end;
}
.title{
    margin-left: 0.5rem;
    font-size: 1rem;
    display: flex;
    flex-direction: column;
}
.title > span:first-child{
    font-weight: bold;
}
.imgPost{
    display: flex;
    object-fit: cover;
}
.imgPost > img{
    width: 100%;
}
.likesandshare{
    display: flex;
    justify-content: space-between;
    margin-top: 0.7rem;
    font-size: 2rem;
    margin-bottom: 0.7rem;
}
.likesandshare > div:first-child{
    margin-left: 0.5rem;
}
.likesandshare > div:last-child{
    margin-right: 0.5rem;
}
.likedBy{
    margin-left: 1rem;
}
.likedBy > p > span{
    font-weight: bold;
}
.comment{
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 1.2rem;
}